<!DOCTYPE html>
<head>
  <title>{{ .Title }}</title>
  <meta name="title" content="{{ .Title }}" />
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  <meta name="description" content="About the Jeff Smith software developer and IT guy."/>
  <meta name="keywords" content="daring, courageous, career driven while humble, handsome, a natural born leader and a great lover"/>
  <!-- <link rel="shortcut icon" type="image/x-icon" href=" /assets/img/favicon.png?v=2 "> -->
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <link rel="stylesheet" media="screen, projector, print" type="text/css" href="/assets/css/site.css">
  <style>body{background:#efefef;color:#333;font: 1.2em/1.4em 'Inconsolata', monospace}
  article{max-width: 20em;margin:2em auto;}.sig{text-align:right;}hr{border:0;border-top:1px dashed #ccc;}</style>
</head>
<body>
