{{ partial "header.html" . }}
<main>
    <article>
        <p>Hello,</p>
        <p>I'm Jeff Smith. I work as the Director of IT at
            <a href="https://www.infoquant.com">infoQuant</a> where I manage
            product deployments and perform software development.
            As time permits, I provide freelance full stack software development and consulting.
            When not working, I still get my geek on with arduino and other maker projects. Basically, I enjoy
            creating things.</p>

        <p>You can reach me at <a href="https://www.jeffsmithdev.com">jeffsmithdev.com</a>,
            <a href="https://www.github.com/jeffsmithdev">github</a> and
            <a href="https://www.linkedin.com/in/jeffsmithdev/">linkedin</a>.</p>

        <p class="sig">- Jeff</p>
    </article>
</main>
{{ partial "footer.html" . }}